# Beginner Level

# Q1. Create a list of your 5 favorite fruits and print the list.

In [2]:
Fruit = ["Mango", "Banana", "Orange", "Apple","Watermelon"]
print(f"My Fruit is: {Fruit}")

My Fruit is: ['Mango', 'Banana', 'Orange', 'Apple', 'Watermelon']

# Q2. Print the first and last elements from the fruits list.

In [4]:
print(f"First element is  {Fruit[0]}")
print(f"Last element is {Fruit[-1]}")

First element is  Mango
Last element is Watermelon

# Q3. Change the second fruit in the list to "Pineapple"

In [5]:
Fruit[1] = "Pineapple"
print(f"after modify : {Fruit}")

after modify : ['Mango', 'Pineapple', 'Orange', 'Apple', 'Watermelon']

# Q4. Add "Kiwi" to the end of the list and "Papaya" at the beginning.

In [6]:
Fruit.append("Kiwi")
Fruit.insert(0,"Papay")
print(f"After Update: {Fruit}")

After Update: ['Papay', 'Mango', 'Pineapple', 'Orange', 'Apple', 'Watermelon', 'Kiwi']

# Q5. Remove "Banana" from the list

In [10]:
Fruit = ["Mango", "Banana", "Orange", "Apple","Watermelon"]
Fruit.remove("Banana")
print(f"After Remove {Fruit}")

After Remove ['Mango', 'Orange', 'Apple', 'Watermelon']

# Q6. Print the first 3 fruits from the list using slicing

In [11]:
Fruit = ["Mango", "Banana", "Orange", "Apple","Watermelon"]
Fruit[:3]

['Mango', 'Banana', 'Orange']

# Q7. Print each fruit in the list on a new line using a for loop.

In [12]:
for fruit in Fruit:
    print(fruit)

Mango
Banana
Orange
Apple
Watermelon

# Q8. Sort the list in alphabetical order and then reverse it.

In [14]:
Fruit = ["Mango", "Banana", "Orange", "Apple","Watermelon"]
Fruit.sort()
print(f"Sort: {Fruit}")

Fruit.reverse()
print(f"Reverse: {Fruit}")

Sort: ['Apple', 'Banana', 'Mango', 'Orange', 'Watermelon']
Reverse: ['Watermelon', 'Orange', 'Mango', 'Banana', 'Apple']

# Q9. Find and print the number of fruits in the list

In [15]:
print(f"Total num of Fruits: {len(Fruit)}")

Total num of Fruits: 5

# Q10. Create a list of squares from 1 to 10 using list comprehension.

In [17]:
Square = [ x**2 for x in range(1,11)]
print(f"Sqaure from 1 to 10: {Square}")

Sqaure from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Q11. Count how many times "Apple" appears in the list.

In [19]:
fruits = ["Apple", "Banana", "Apple","Mango","Apple"]
fruits.count("Apple")

3

# Q12. Find the index of "Mango" in the list.

In [20]:
fruits.index("Mango")

3

# Q13. Combine two lists: fruits1 = ["Mango", "Banana"] and fruits2 = ["Pineapple", "Grapes"]

In [21]:
F_fruit= ["Mango", "Banana"]
S_fruit=["Pineapple","Grapes"]
combined = F_fruit+S_fruit
print(f"After combined list: {combined}")

After combined list: ['Mango', 'Banana', 'Pineapple', 'Grapes']

# Q14. Repeat the list ["Hello"] 3 times

In [23]:
Greating = ["Hello"]*3
print(Greating)

['Hello', 'Hello', 'Hello']

# Q15. Create a copy of the list fruits

In [24]:
copied_Fruit = Fruit.copy()
print(copied_Fruit)

['Watermelon', 'Orange', 'Mango', 'Banana', 'Apple']

# Q16. Remove all elements from the list

In [29]:
fruits.clear()
print(fruits)

[]

# Q17. From the list of numbers, print only the even numbers.

In [33]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [num for num in numbers if num % 2 == 0]
print("Even numbers:", even_numbers)

Even numbers: [2, 4, 6, 8, 10]

# Q18. Remove duplicates from the list.

In [37]:
nums = [1, 2, 2, 3, 4, 4, 5]
unique_nums = list(set(nums))
print("List without duplicates:", unique_nums)

List without duplicates: [1, 2, 3, 4, 5]

# Q19. Find the second largest number in a list.

In [40]:
numbers = [12, 45, 67, 45, 89, 23]
unique_num = list(set(numbers))
unique_num.sort()
Second_largest = unique_num[-2]
print(f"The 2nd largest number is {Second_largest}")

The 2nd largest number is 67