# Tupple Assignment

# Q1: Create a tuple named fruits with the following values: "apple", "banana", "mango", "orange"

In [1]:
fruits = ("Apple", "Banana", "Mango", "Orange")
print(fruits)

('Apple', 'Banana', 'Mango', 'Orange')

# Q2: Access the second item from the fruits tuple.

In [2]:
fruits = ("Apple", "Banana", "Mango", "Orange")
print(fruits[1])

Banana

# Q3: Print the last two items from the tuple.

In [3]:
fruits = ("Apple", "Banana", "Mango", "Orange")
print(fruits[-2:])

('Mango', 'Orange')

<!-- Q4: Check if "apple" is in the tuple -->

# Q4: Check if "apple" is in the tuple

In [5]:
fruits = ("Apple", "Banana", "Mango", "Orange")
if "Apple" in fruits:
    print("'Apple' is exist in Tuple")

'Apple' is exist in Tuple

# Q5: Print the length of the tuple.

In [6]:
print(len(fruits))

4

# Q6: Try changing the second item of the fruits tuple to "grape" and observe what happens.

In [8]:
fruits[1] = "Grape"
print(fruits)

TypeError: 'tuple' object does not support item assignment

## We know that tupple is immutable and we can't change any items

# Q7: Concatenate two tuples: a = (1, 2, 3) and b = (4, 5, 6)

In [11]:
a = (1, 2, 3)
b = (4, 5, 6)
print(f" New Tuple: {a+b}")

 New Tuple: (1, 2, 3, 4, 5, 6)

# Q8: From the tuple nums = (1, 2, 3, 2, 4, 2), count how many times 2 occurs and find its first index.

In [12]:
num = (1, 2, 3, 2, 4, 2)
print(f"Count: {num.count(2)}")
print(f"Index: {num.index(2)}")

Count: 3
Index: 1

# Q9: Convert the list my_list = [10, 20, 30, 40] to a tuple.

In [15]:
my_list = [10, 20, 30, 40]
my_tuple = tuple(my_list)
print(my_tuple)
print(type(my_tuple))

(10, 20, 30, 40)
<class 'tuple'>

# Q10: Given the tuple nested = ("a", "b", ("c", "d")), access the element "d".

In [16]:
tup = ("a", "b", ("c", "d"))
print(tup[2][1])

d

# Q11: Iterate through the tuple colors = ("red", "green", "blue") and print each color.

In [17]:
colors = ("red", "green", "blue")
for color in colors:
    print(color)

red
green
blue